@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");

.font-ica-rubrik {
  font-family: "ICA Rubrik";
}

.range-slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  outline: none;
  transition: background 0.2s;
  cursor: pointer;
}

/* Gray track before the thumb, white after */
.range-slider::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 5px;
}
/* Gray thumb (ball) */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: #d1d3d6;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}
/* Firefox styles */
.range-slider::-moz-range-track {
  height: 6px;
  border-radius: 5px;
}
.range-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #6b7280; /* Gray-500 */
  border-radius: 50%;
  cursor: pointer;
}

/* Larger range slider variant */
.range-slider-lg {
  height: 35px;
  border-radius: 10px;
  background-color: #f9fafb;
  --percentage: 50%;
  background: linear-gradient(
    to right,
    #e4e4e4 var(--percentage),
    #ffffff var(--percentage)
  );
}

.range-slider-lg::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  cursor: default;
}

.range-slider-lg::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  cursor: default;
}

.range-slider-lg::-ms-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  cursor: default;
}

.menu-item {
  background-image: linear-gradient(
    to bottom,
    #d7a2ff 0%,
    #d7a2ff var(--text-fill, 0%),
    white var(--text-fill, 0%),
    white 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.menu-item .bullet {
  position: absolute;
  left: -33px; /* match the vertical line */
  top: 35%;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 3px #d7a2ff, 0 0 6px #d7a2ff;

  /* gradient from green to white based on --bullet-fill */
  background-image: linear-gradient(
    to bottom,
    #d7a2ff 0%,
    #d7a2ff var(--bullet-fill, 0%),
    white var(--bullet-fill, 0%),
    white 100%
  );

  z-index: 5;
}

.reveal-title {
  --line-pos: 0%;

  -webkit-mask-image: linear-gradient(
    to top,
    black var(--line-pos),
    transparent calc(var(--line-pos) + 1%)
  );

  mask-image: linear-gradient(
    to top,
    black var(--line-pos),
    transparent calc(var(--line-pos) + 1%)
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.galaxy-header {
  font-family: "ICA Rubrik";
  color: #613064; /* 3b1f3d  2983dd*/
  --stroke-width: 2px;
}

.galaxy-header::after {
  content: attr(data-content);
  position: absolute;
  inset: 0;
  z-index: 2;
  color: transparent;
  -webkit-text-stroke: var(--stroke-width) #ff5ec7; /* d2d2d2  ff5ec7*/
}

@media (max-width: 1024px) {
  .galaxy-header {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000;
  }
}
