:root {
  --base-100: #181717;
  --base-200: #292725;
  --base-300: #d7a2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preloader-progress,
.preloader-mask,
.preloader-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  pointer-events: none;
}

.preloader-progress {
  background-color: var(--base-200);
  z-index: 1;
  will-change: opacity;
}

.preloader-progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  /* transform: translateX(-50%) scale(0); */
  transform: translateX(-50%) scaleX(0);
  width: 55%;
  height: 100%;
  background-color: var(--base-300);
  transform-origin: left;
  will-change: transform;
}

.preloader-mask {
  background-color: var(--base-100);
  mask: linear-gradient(var(--base-300), var(--base-300)),
    url("/src/assets//mask.svg") center/50% no-repeat;
  mask-composite: subtract;
  will-change: transform;
  z-index: 1;
}

.preloader-content {
  z-index: 2;
}

.preloader-footer {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  text-align: center;
}

.line,
.char {
  position: relative;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
  will-change: transform;
}

@media (max-width: 800px) {
  .preloader-progress-bar {
    left: 0%;
    width: 100%;
    transform: translateX(0%) scale(0%);
  }

  .preloader-mask {
    mask: linear-gradient(var(--base-300), var(--base-300)),
      url("/src/assets//mask.svg") center/90% no-repeat;
    mask-composite: subtract;
  }

  .preloader-footer {
    width: 75%;
  }
}
