@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.spin-container {
  transform: translateZ(0px) rotateX(calc(var(--tilt) + var(--tilt2, 0deg)))
    rotateY(calc(var(--offset) + var(--scrollSpin) + var(--offset2, 0deg)));
  transform-style: preserve-3d;
}

.item {
  position: absolute;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(var(--zaxis));
  border-radius: 10px;
  overflow: hidden;
}

.spin-animation {
  will-change: transform;
}

.item {
  will-change: transform;
}

.font-ica-rubrik {
  font-family: "ICA Rubrik";
}
.font-poppins {
  font-family: "Poppins";
}

.projectViewButton {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  transition: all 500ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid black;
}

.projectViewButton:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 2px solid black;
  box-shadow: 4px 5px 17px -4px black;
}

.projectViewButton::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: black;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.projectViewButton:hover::before {
  width: 250%;
}

@media screen and (max-width: 1023px) {
  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
}
@media screen and (max-width: 767px) {
  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(30vh);
  }
}
