@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.spin-animation {
  animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-14deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-14deg) rotateY(360deg);
  }
}

.item {
  position: absolute;
  inset: 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(530px);
  border-radius: 10px;
  overflow: hidden;
}

.font-ica-rubrik {
  font-family: "ICA Rubrik";
}
.font-poppins {
  font-family: "Poppins";
}

.model {
  background-image: url(/src//assets//otherProjects/earthPurpleAndBlue.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
}
@media screen and (max-width: 767px) {
  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
}
