@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

.spin-animation {
  animation: autoRun 20s linear infinite;
}

.pause-animation {
  animation-play-state: paused !important;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px)
      rotateX(calc(var(--tilt) + var(--tilt2, 0deg)))
      rotateY(calc(var(--offset) + var(--scrollSpin)));
  }
  to {
    transform: perspective(1000px)
      rotateX(calc(var(--tilt) + var(--tilt2, 0deg)))
      rotateY(calc(var(--offset2) + var(--scrollSpin)));
  }
}

.item {
  position: absolute;
  inset: 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(var(--zaxis));
  border-radius: 10px;
  overflow: hidden;
}

.spin-animation {
  will-change: transform;
}

.item {
  will-change: transform;
}

.font-ica-rubrik {
  font-family: "ICA Rubrik";
}
.font-poppins {
  font-family: "Poppins";
}

@media screen and (max-width: 1023px) {
  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
}
@media screen and (max-width: 767px) {
  .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
}
